{{#if currentUser.isAdmin}}
  <UserNewAdmin @currentUser={{currentUser}} @store={{this.store}} @organizations={{organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if currentUser.isPdAdmin}}
  <UserNewPd @currentUser={{currentUser}} @store={{this.store}} @organizations={{organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if currentUser.isTeacher}}
  <UserNewTeacher @currentUser={{currentUser}} @store={{this.store}} @organizations={{organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if this.currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
{{/if}}

