
<LinkTo @route="index">
  <h1>Drexel | EnCoMPASS</h1>
</LinkTo>

  <div class="clear_r"></div>

{{#if this.user.isAuthenticated}}
    <nav id="al_nav">
      <div id="menu-toggle">
        <ul id="main-nav">
          <span id="menu-items">
            {{!-- My Work / Homepage Button --}}
          <li id="home-btn"><div class="dropdown-skinny"><LinkTo @route="index" @classNames="menu home">my work</LinkTo></div></li>
            {{!-- Make Button --}}
            {{#if notStudent}}
              <li>
                <div class="dropdown dropdown-skinny">
                  <LinkTo @route="index" @classNames="menu workspaces">make<i
                    class="fa fa-caret-down caret-down"></i></LinkTo>
                  <div class="dropdown-content">
                    <LinkTo @route="assignments.new" @classNames="menu workspaces-new">assignment</LinkTo>
                    {{!-- {{#if notStudent}} --}}
                    <div class="parent-dropdown">
                      <div class="dropdown dropdown-skinny">
                      <LinkTo @route="workspaces.new" @classNames="menu import">workspace<i
                      class="fa fa-caret-right caret-right spacing"></i></LinkTo>
                    </div>
                        <div id="dropdown-hidden" class="dropdown-content dropdown-right dropdown-hidden">
                          <LinkTo @route="workspaces.new" @classNames="menu workspaces-new">new</LinkTo>
                          {{!-- {{#if notStudent}} --}}
                          <LinkTo @route="import" @classNames="menu import">import</LinkTo>
                          <LinkTo @route="workspaces.copy" @classNames="menu import">copy</LinkTo>
                          <LinkTo @route="vmt.import" @classNames="menu vmt-import">vmt</LinkTo>
                          {{!-- {{/if}} --}}
                        </div>
                    </div>
                    <LinkTo @route="problems.new" @classNames="menu import">problem</LinkTo>
                    <LinkTo @route="sections.new" @classNames="menu sections">class</LinkTo>
                    <LinkTo @route="users.new" @classNames="menu vmt-import">users</LinkTo>

                    {{!-- {{/if}} --}}
                  </div>
                </div>
              </li>
              {{/if}}
              {{!-- Do Button --}}
              <li>
                <div class="dropdown dropdown-wide">
                  <LinkTo @route="index" @classNames="menu workspaces">do<i
                    class="fa fa-caret-down caret-down"></i></LinkTo>
                  <div class="dropdown-content">
                    <LinkTo @route="assignments" @classNames="menu problems">solve a problem</LinkTo>
                      <LinkTo @route="workspaces" @classNames="menu workspaces">review submitted work</LinkTo>
                      <LinkTo @route="responses" @classNames="menu workspaces">mentor submissions</LinkTo>
                    {{#if notStudent}}
                      <LinkTo @route="sections" @classNames="menu sections">manage classes</LinkTo>
                      <LinkTo @route="users" @classNames="menu users">manage users</LinkTo>
                    {{/if}}
                  </div>
                </div>
              </li>
              {{!-- Find Button --}}
              <li>
                <div class="dropdown dropdown-skinny">
                  <LinkTo @route="index" @classNames="menu workspaces">find<i
                    class="fa fa-caret-down caret-down"></i></LinkTo>
                  <div class="dropdown-content">
                    <LinkTo @route="assignments" @classNames="menu workspaces-new">assignment</LinkTo>
                    <LinkTo @route="workspaces" @classNames="menu import">workspace</LinkTo>
                    <LinkTo @route="problems" @classNames="menu import">problem</LinkTo>
                    <LinkTo @route="sections.home" @classNames="menu sections">class</LinkTo>
                    {{#if notStudent}}
                      <LinkTo @route="users" @classNames="menu vmt-import">users</LinkTo>
                    {{/if}}
                  </div>
                </div>
              </li>
          {{!-- {{#if notStudent}}
            <li>{{#link-to 'import' classNames='menu import'}}import{{/link-to}}</li>
          {{/if}} --}}
          {{!-- {{#if isStudent}} --}}
            {{!-- <li>{{#link-to 'assignments.home' classNames='menu assignments'}}assignments{{/link-to}}
              {{#if assignmentNotifications}}
                {{circle-ntf displayCount=assignmentNotifications.length}}
              {{/if}}
            </li> --}}
          {{!-- {{/if}} --}}
          {{!-- {{#if currentUser.isStudent}}
            <li>{{#link-to 'answers.home' classNames='menu answers'}}answers{{/link-to}}</li>
          {{/if}}
          {{#if notStudent}}
          <li>
            <div class="dropdown">
              {{#link-to 'problems' classNames='menu problems' id="problems-home"}}problems <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              <div class="dropdown-content">
                {{#link-to 'problems.new' classNames='menu problems-new'}}new{{/link-to}}
              </div>
            </div>
          </li> --}}
          {{!-- {{else}}
            <li>{{#link-to 'problems.home' classNames='menu problems'}}problems{{/link-to}}</li> --}}
          {{!-- {{/if}}
          {{#if notStudent}}
          <li>
            <div class="dropdown">
              {{#link-to 'sections.home' classNames='menu sections' id="sections-home"}}classes <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              {{#if sectionNotifications}}
              {{circle-ntf displayCount=sectionNotifications.length}}
            {{/if}}
              <div class="dropdown-content">
                {{#link-to 'sections.new' classNames='menu sections-new'}}new{{/link-to}}
              </div>
            </div>
          </li>
          {{else}}
            <li>{{#link-to 'sections.home' classNames='menu sections' id="sections-home"}}classes{{/link-to}}</li>
          {{/if}} --}}
          {{!-- {{#if notStudent}} --}}
          {{!-- <li>
            <div class="dropdown">
              {{#link-to 'workspaces' classNames='menu workspaces'}}workspaces <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              <div class="dropdown-content">
                {{#link-to 'workspaces.new' classNames='menu workspaces-new'}}new{{/link-to}}
                {{!-- {{#if notStudent}} --}}
                  {{!-- {{#link-to 'import' classNames='menu import'}}import{{/link-to}}
                  {{#link-to 'workspaces.copy' classNames='menu import'}}copy{{/link-to}}
                  {{#link-to 'vmt.import' classNames='menu vmt-import'}}vmt{{/link-to}} --}}

                {{!-- {{/if}} --}}
              {{!-- </div>
            </div>
          </li> --}}
          {{!-- {{/if}} --}}
          {{!-- <li data-test="topbar-responses">{{#link-to 'responses' classNames='menu responses'}}responses{{/link-to}}
            {{#if responseNotifications}}
              {{circle-ntf displayCount=responseNotifications.length}}
            {{/if}}
          </li> --}}
          {{!-- {{#if notStudent}}
            {{#if user.isAdmin}}
            <li>
              <div class="dropdown">
                {{#link-to 'users.home' classNames='menu users' id="users-home"}}users <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
                <div class="dropdown-content">
                  {{#link-to 'users.new' classNames='menu users-new'}}new{{/link-to}}
                </div>
              </div>
            </li>
            {{else}}
              <li>{{#link-to 'users.home' classNames='menu users'}}users{{/link-to}}</li>
            {{/if}}
          {{/if}} --}}
          <li id="logout-btn"><LinkTo @route="logout" @classNames="menu logout"><i class="fas fa-power-off logout-icon"></i><span id="logout-text">log out</span></LinkTo></li>
          </span>
          {{#unless this.isStudentAccount}}
          <li id="role-toggle">
            <span class="acting-role">Role: {{this.user.actingRoleName}}</span>
            <span class="toggle-role" {{action 'showToggleModal'}}>
              <i class="fas fa-sync-alt"></i>
            </span>
          </li>
          {{/unless}}
          <li id="current-username">
            <LinkTo @route="user" @model={{this.currentUser.username}}><img src={{this.currentUser.avatar}} alt={{this.currentUser.username}}></LinkTo>
          </li>
          <li id="user-image">
            <Input @type="checkbox" @id="menu-button" @name="menu-toggle" @checked={{openMenu}} @click={{action "toggleMenu"}} />
            <img src={{this.user.avatar}} alt="">
            {{#if newNotifications}}
              <CircleNtf @displayCount={{newNotifications.length}} />
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>

    <div id="hide-menu" class="hidden animated">
      <ul>
        <li><LinkTo @route="index">home</LinkTo></li>
        <li><LinkTo @route="assignments.home">assignments</LinkTo></li>
        {{#unless this.currentUser.isStudent}}
          <li><LinkTo @route="problems">problems</LinkTo></li>
        {{/unless}}
        <li><LinkTo @route="sections.home">classes</LinkTo></li>
        {{!-- {{#unless currentUser.isStudent}} --}}
          <li><LinkTo @route="workspaces">workspaces</LinkTo></li>
        {{!-- {{/unless}} --}}
        {{#unless this.currentUser.isStudent}}
        <li><LinkTo @route="import">import</LinkTo></li>
        {{/unless}}
        <li><LinkTo @route="responses">responses</LinkTo>
          {{#if responseNotifications}}
            <CircleNtf @displayCount={{responseNotifications.length}} />
          {{/if}}
        </li>
        {{#unless this.currentUser.isStudent}}
          <li><LinkTo @route="users.home">users</LinkTo></li>
        {{/unless}}
        <li id="logout-btn-side"><LinkTo @route="logout">logout</LinkTo></li>
      </ul>
    </div>

  {{else}}
    <nav id="topbar-unauth">
      <ul>
        {{!-- <li>{{#link-to 'index' classNames='menu home'}}home{{/link-to}}</li> --}}
        <li data-test="login"><LinkTo @route="auth.login" @classNames="menu login hidden">log in</LinkTo></li>
        <li data-test="signup"><LinkTo @route="auth.signup" @classNames="menu signup">sign up</LinkTo></li>
      </ul>
    </nav>
  {{/if}}

<div id="status">
  {{!-- <span class="control">
    {{#if isSmallHeader}}
    <a {{action 'largeHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/06-arrow-south.png" alt="expand" />
    </a>
    {{else}}
    <a {{action 'smallHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/03-arrow-north.png" alt="collapse" />
    </a>
    {{/if}}
  </span> --}}
  {{!-- <span id="loading" style="display:none">loading</span> --}}
</div>

{{!-- {{#if actionToConfirm}}
    {{modal-confirm actionToConfirm=actionToConfirm onConfirm="toggleActingRole" warningMessage="If you are currently modifying or creating a new record, you will lose all unsaved progress."}}
{{/if}} --}}

<script>
  $('#menu-button').click(function (e) {
    e.stopPropagation();
    $('#hide-menu').toggleClass('sidemenu-style');
    $('#hide-menu').addClass('slideInRight');
  });

  $('#hide-menu').click(function (e) {
    e.stopPropagation();
  });

  $('body,html').click(function (e) {
    $('#hide-menu').removeClass('sidemenu-style');
  });

  $('#hide-menu>li>a').ready(() => {
    $('#hide-menu').click(function (e) {
      $('#hide-menu').removeClass('sidemenu-style');
    });
  })
</script>
