<div class="ember-view">
  {{!--outlet header--}}

  <TopBar @store={{this.store}} @user={{this.currentUser}} @isHidden={{this.isHidden}} @toHome="toHome" />
  {{!-- <SocketLoader @store={{this.store}} @currentUser={{this.currentUser}} /> --}}
  <section id="al_body">

    {{outlet}}

    {{#if this.showCategoryList}}
    <div id="category-list-modal">
      <div class="modal-content">
        <h4>Select a Category</h4>
        <button class="close" {{action 'closeModal' }}><i class="fas fa-times"></i></button>
        <CategoriesMenu @categories={{this.categories}} @store={{this.store}} @addCategories="searchCategory" />
      </div>
    </div>
    {{/if}}

  </section> <!-- end al_body -->
</div>